@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    background-color: white;
    font-family: Lora;
}


img.resize {
    width:100%; 
    height: auto;
}


h1, h2, h3, h4 {
	font-family: sans-serif;
}

.logo {
	width: 20%;
	height: auto;
	float: left;
	display: inline;

}
.slogan {
	font-style: italic;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	font-size: 1.25 em;
}

.definition {
	color: black;
	background-color: #7FFFD4;
	text-align: center;
}

span {
	font-size: 1.5em;
	font-weight: bold;

}

header {
	background-color: #7FFFD4;
	border: 1% black solid;
	padding: 0%;
}

nav a {
	display: inline-block;
	padding: 1em;
	color: #000;
	text-decoration: none;
	float: right;
	margin-top: 10em;

}

a:hover {
	background-color: white;

}

#top {
	background-color: #FFFFFF;
	border: 1px
	padding: 20px;
	width: 50%;
	display: block;

}


article {
	background-color: #FFFFFF;
	border: 1px #FFFFFF;
	padding: 20px;
}


section {
	background-color: #FFFFFF;
	border: 1px #FFFFFF;
	padding: 20px;
}


aside {
	width: 48%;
	float: left;
	margin: 0 .5%;
	padding: 2em;
	display: block;
	box-sizing: border-box;
}

#two-column {
	border: 1px
	padding: 20px;
	clear: both;

}
.left {
	border: 1px 
	padding: 20px;
	float: left;
	width: 46%;

}

.right {
	border: 1px
	padding: 20px;
	float: right;
	width: 46%;

}

.newsletter {
	background-color: #7FFFD4;
	border: 1px #7FFFD4;
	padding: 20px;
	clear: both;

}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.row {
	float: left;
}

.bottom-nav{
	clear: both;
	background-color: #7FFFD4;
	padding: .5em;
	color: #000;
	text-decoration: none;
}

.contact {
	float: left;
	color: #000;
	text-decoration: none;
}

footer {
	background-color: #7FFFD4;
	border: 1px #7FFFD4;
	padding: .5em;

}

@media (max-width: 991px) {
	nav a {
		font-size: 80%;

	}


}