@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    background-color: white;
    font-family: Lora;
}

h1, h2, h3, h4 {
	font-family: sans-serif;
}

img.resize {
    width:200px; 
    height: auto;
}

h1, p {
    color: black;
}


.slogan {
	font-style: italic;

}
.definition {
	color: green;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}