}
body {
    background-color: white;
    font-family: sans-serif;-serif;
}
img.resize {
    width:200px; 
    height: auto;
}

h1, p {
    color: black;
}

.slogan {
	font-style: italic;

}
.definition {
	color: green;
}